<?xml version="1.0"?>
<model>
    <name>sub0</name>

    <version>1.0</version>
    <sdf version='1.5'>sub0.sdf</sdf>

    <author>
        <name>Yeshasvi Tirupachuri</name>
        <email>yeshasvi.tirupachuri@iit.it</email>
    </author>

    <description>
        AnDy model of sub0 with 66 DoFs
    </description>
</model>
